@use './constants' as *;

@function size($factor) {
  @if $factor == null {
    @return null;
  }

  @return $spacing * $factor;
}

@function spacing($left, $top: null, $right: null, $bottom: null) {
  $l: size($left);
  $t: size($top);
  $r: size($right);
  $b: size($bottom);

  @if $t == null {
    @return $l;
  } @else if $right == null {
    @return $l $t;
  } @else if $bottom == null {
    @return $l $t $r;
  } @else {
    @return $l $t $r $b;
  }
}
