@use './constants' as *;

@function size($factor) {
  @if $factor == null {
    @return null;
  }

  @return $spacing * $factor;
}

@function spacing($top, $right: null, $bottom: null, $left: null) {
  $l: size($left);
  $t: size($top);
  $r: size($right);
  $b: size($bottom);

  @if $r == null {
    @return $t;
  } @else if $b == null {
    @return $t $r;
  } @else if $l == null {
    @return $t $r $b;
  } @else {
    @return $t $r $b $l;
  }
}
