@use './functions' as *;

@mixin square($factor) {
  height: 1rem * $factor;
  width: 1rem * $factor;
}

@mixin gap($factor) {
  gap: size($factor);
}

@mixin padding($top, $right: null, $bottom: null, $left: null) {
  padding: spacing($top, $right, $bottom, $left);
}

@mixin margin($top, $right: null, $bottom: null, $left: null) {
  margin: spacing($top, $right, $bottom, $left);
}

@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
}

@mixin media($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
