@use './functions' as *;
@use './colors' as *;

@mixin square($factor) {
  height: 1rem * $factor;
  width: 1rem * $factor;
}

@mixin gap($factor) {
  gap: size($factor);
}

@mixin padding($top, $right: null, $bottom: null, $left: null) {
  padding: spacing($top, $right, $bottom, $left);
}

@mixin margin($top, $right: null, $bottom: null, $left: null) {
  margin: spacing($top, $right, $bottom, $left);
}

@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
}

@mixin media($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin project-card-opacity {
  & .projects__card {
    opacity: 0;
  }
}

@mixin project-card-behind {
  filter: grayscale(0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  z-index: 0;
}
