@use './colors' as *;
@use './mixins' as *;
@use './constants' as *;

%normal-theme {
  background-color: $white1;
  color: $black1;

  &--dark {
    color: $white1;
    background-color: $black1;
  }
}

%flex {
  display: flex;
}

%justify-center {
  @extend %flex;
  justify-content: center;
}

%justify-align-center {
  @extend %justify-center;
  align-items: center;
}

%container {
  @include padding(2, 1);
  max-width: map-get($screen, 'ultra');

  @include media(map-get($screen, 'tablet')) {
    @include padding(3, 1);
    margin-left: auto;
    margin-right: auto;
  }

  @include media(map-get($screen, 'desktop')) {
    @include padding(4, 2);
  }
}

%img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
