@use '../abstracts/constants' as *;
@use '../abstracts/placholder' as *;

.game {
  display: flex;
  justify-content: center;

  &__fallback {
    height: min(100vh, $game-height);
    width: min(100vw, $game-width);
    @extend %normal-theme--dark;
  }
}
