@use '../abstracts/' as *;

.contact {
  @include background('/images/contact.webp');
  background-position: bottom;

  &__page {
    @extend %justify-center;
    flex-direction: column;
    align-content: stretch;
    gap: 3rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: $white3;
    text-shadow: 1px 1px 1px $black1;
    background-color: transparent;

    @include media(screen('mobile')) {
      width: min(40rem, 100%);
    }
  }

  &__form {
    @extend %justify-center;
    @extend %glassmorphic;
    flex-direction: column;
    align-content: stretch;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem 4rem 3rem;
    margin-top: 2rem;
    box-shadow: 0px 1px 2px rgba($accent,0.5), 
              0px 2px 4px rgba($accent,0.5), 
              0px 4px 8px rgba($accent,0.5), 
              0px 8px 16px rgba($accent,0.5);
    transform: scaleY(0);

    &--animate {
      animation: animate-contact-form 200ms ease-in 1 normal forwards;
    }
  }

  &__input {
    @extend %justify-center;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    width: 100%;
  }

  &__heading {
    text-align: center;
    letter-spacing: 4px;
  }

  &__field {
    color: $white1;
    border: 0;
    outline: 0;
    border-radius: 8px;
    padding: 1rem;
    background-color: $black1;
    box-shadow: inset 2px 2px 5px $accent, inset -2px -2px 5px $accent;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;

    &::placeholder {
      color: $white3;
    }

    &:focus {
      box-shadow: inset 1px 1px 2px $accent, inset -1px -1px 2px $accent;
    }

    &--message {
      resize: none;
    }

    &--button {
      box-shadow: -2px -2px 10px $accent, 2px 2px 10px $accent;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        box-shadow: -2px -2px 5px $accent, 2px 2px 5px $accent;
      }

      &:active {
        box-shadow: inset 1px 1px 2px $accent, inset -1px -1px 2px $accent;
      }
    }

    &--submit {
      margin-top: 2rem;
      width: 100%;
    }
  }

  &__divider {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      height: 0;
      border: 1px solid $white1;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__socials {
    @extend %align-center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    gap: 1rem;

    &-item {
      @extend .contact__field--button;
      width: fit-content;
      border-radius: 8px;
      padding: 0;
      background-color: $black1;
    }
  }

  &__link {
    display: block;
    padding: 1rem 1.5rem;
    height: 100%;
    width: 100%;
  }

}
