@forward './game';
@forward './nav';
@use '../abstracts' as *;

.page {
  @extend %container;
  height: 200vh;
  margin-top: calc(2rem + size(2));

  @include media(map-get($screen, 'desktop')) {
    margin-top: calc(2rem + size(4));
  }

  &--red {
    background-color: red;
  }
  &--blue {
    background-color: blue;
  }
  &--yellow {
    background-color: yellow;
  }
}
