@use '../abstracts' as *;

.logo {
  @extend %justify-align-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);

  &__container {
    @extend %justify-align-center;
  }

  &__link {
    @include padding(2, 0);
    height: 3rem;
    width: auto;
  }

  &__image {
    @extend %img;
  }
}
