@use '../abstracts' as *;
@use 'sass:math';

.menu {
  background-color: $black1;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: min(40rem, 100%);
  height: $nav-size;
  border-radius: 4px 4px 0 0;

  @include media(screen('desktop')) {
    display: none;
  }

  &__list {
    @extend %justify-align-center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
  }

  &__link {
    text-decoration: none;
    color: $accent;
    text-transform: uppercase;
  }

  &__item {
    @extend %justify-align-center;
    @include padding(1, 2);
    $overlap: 6px;
    $half-overlap: math.div($overlap, 2);

    background-color: $black1;
    border-radius: 4px;
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: calc(100% + $overlap);
      height: calc(50% + $half-overlap);
      background-color: $accent;
      transform: scale(0, 1);
      transition: transform 0.3s ease-in-out;
    }

    &:after {
      transform-origin: left;
      bottom: -$half-overlap;
      left: -$half-overlap;
      transition-delay: 0.35s;
      border-radius: 0 0 4px 4px;
    }
    &:before {
      transform-origin: right;
      top: -$half-overlap;
      right: -$half-overlap;
      border-radius: 4px 4px 0 0;
    }

    &.active:after,
    &.active:before,
    &:hover:after,
    &:hover:before {
      transform: scale(1, 1);
    }
  }
}
