@use '../abstracts' as *;

.menu {
  $parent: &;

  &__container {
    @extend %glassmorphic;
    background: rgba($black1, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    opacity: 0;
    z-index: 10;
    width: min(40rem, 100%);
    transition: transform 0.3s ease-in 0.1s, opacity 0.1s ease-in;

    @include media(map-get($screen, 'desktop')) {
      display: none;
    }
  }

  &__toggler {
    display: none;

    &:checked ~ #{$parent}__container {
      transform: translate(-50%, 5.5rem);
      opacity: 1;
      transition: transform 0.3s ease-in, opacity 0.1s ease-in 0.2s;
    }
  }

  &__list {
    @extend %justify-align-center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
  }

  &__link {
    text-decoration: none;
    color: $accent;
    text-transform: uppercase;
  }
}
