@use '../abstracts' as *;

.menu {
  @extend %glassmorphic;
  background: rgba($black1, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: min(40rem, 100%);

  &__toggler {
    display: none;
  }

  &__list {
    @extend %justify-align-center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
  }

  &__link {
    text-decoration: none;
    color: $accent;
    text-transform: uppercase;
  }
}
