@use '../abstracts/placeholder' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.header {
  $height: 2rem;
  background-color: $secondary;

  &__nav {
    @extend %container;
    @extend %justify-align-center;

    justify-content: space-between;
    height: $height;
  }

  &__image-container {
    display: inline-block;
    height: 100%;
    width: auto;
  }

  &__image {
    @extend %img;
  }

  &__menu {
    @extend %justify-align-center;
    @include gap(4);
    list-style-type: none;

    &-link {
      text-decoration: none;
      color: $black1;
    }
  }
}
