@use '../abstracts' as *;

.header {
  $height: 2rem;
  background-color: $secondary;

  &__nav {
    @extend %container;
    @extend %justify-align-center;

    justify-content: space-between;
    height: $height;
  }

  &__image-container {
    display: inline-block;
    height: 100%;
    width: auto;
  }

  &__image {
    @extend %img;
  }

  &__menu {
    &-list {
      @extend %justify-align-center;
      @include gap(4);
      padding-inline-start: 0;
      list-style-type: none;
      position: absolute;
      top: $game-height;
      left: 0;
      width: 100%;
      z-index: -1;

      @include media(map-get($screen, 'tablet')) {
        position: static;
        inset: 0;
      }
    }

    &-link {
      text-decoration: none;
      color: $black1;
    }

    &-toggle {
      @include media(map-get($screen, 'tablet')) {
        display: none;
      }
    }

    &-checkbox {
      display: none;
    }
  }
}
