@use '../abstracts' as *;
.projects {
  position: relative;

  &__background {
    @include background('/images/projectsbg2.png');
    background-position: bottom;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__foreground {
    @include background('/images/projectsbg1.png');
    position: absolute;
    inset: 0;
    background-position: bottom;
    z-index: 2;
    transform: translateZ(1rem);
  }

  &__page {
    background-color: transparent;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 3;
  }
}
