@use '../abstracts' as *;

@for $i from 1 through $project-count {
  $index-previous: ($i + $project-count - 1) % $project-count;
  $index-next: ($i + 1) % $project-count;

  @if $index-previous == 0 {
    $index-previous: $project-count;
  }
  @if $index-next == 0 {
    $index-next: $project-count;
  }

  #item-#{$i}:checked ~ .projects__cards {
    @include project-card-opacity();

    & #project-#{$index-previous} {
      @include project-card-behind();
      transform: translateY(-50% - 30%) translateZ(-20rem);

      &::before {
        content: 'previous';
        top: 0;
        bottom: unset;
        border-radius: 16px 16px 0 0;
      }

      @include media(screen('desktop')) {
        transform: translateY(-40%) translateX(-40%) translateZ(-50rem);

        &::before {
          left: 0;
          right: unset;
          width: fit-content;
          writing-mode: vertical-lr;
          text-orientation: sideways;
          height: 100%;
          transform: translateZ(-50rem);
          border-radius: 16px 0 0 16px;
        }
      }
    }
  }

  #item-#{$i}:checked ~ .projects__cards {
    @include project-card-opacity();

    & #project-#{$index-next} {
      @include project-card-behind();
      transform: translateY(-50% + 35%) translateZ(-30rem);

      &::before {
        content: 'next';
        top: unset;
        bottom: 0;
        border-radius: 0 0 16px 16px;
      }

      @include media(screen('desktop')) {
        transform: translateY(-40%) translateX(40%) translateZ(-50rem);

        &::before {
          right: 0;
          left: unset;
          width: fit-content;
          writing-mode: vertical-lr;
          text-orientation: sideways;
          height: 100%;
          transform: translateZ(-50rem);
          border-radius: 0 16px 16px 0;
        }
      }
    }
  }

  #item-#{$i}:checked ~ .projects__cards #project-#{$i} {
    transform: translateY(-50%) translateZ(0);
    opacity: 1;
    z-index: 1;
    border: none;
    cursor: default;

    &::after {
      opacity: 1;
    }

    &::before {
      content: '';
    }

    & .projects__context {
      transition: all 0.5s ease 0.5s;
      opacity: 1;
      z-index: 1;
    }
  }

  #item-#{$i}:checked ~ .projects__buttons #button-#{$i} {
    background-color: $primary;
  }
}
