@use '../abstracts' as *;

.projects {
  position: relative;
  @extend %full-absolute;
  @include background('/images/projectsbg.webp');
  background-position: bottom;
  opacity: 0.7;

  &__page {
    @extend %justify-align-center;
    background-color: transparent;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    padding-bottom: 5rem;
  }

  &__toggler {
    display: none;
  }

  &__container {
    @extend %justify-align-center;
    transform-style: preserve-3d;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__cards {
    position: relative;
    width: 100%;
    height: 100%;

    perspective: 1800px;
  }

  &__card {
    @include padding(2, 1);
    background-color: $black2;
    border-radius: 16px;
    box-shadow: inset 0px 0px 0.5rem 0px $accent, 0px 0px 0.5rem 0px $accent;
    position: absolute;
    height: 25rem;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    user-select: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: $black2;
      box-shadow: 0 0 2rem 0.2rem $black2;
      filter: blur(1.5em);
      transition: opacity 0.5s linear;
    }

    @include media(map-get($screen, 'tablet')) {
      height: min(30rem, 100%);
      width: 50rem;
    }
  }

  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;

    &--construction {
      &::after {
        @extend %full-absolute;
        content: '';
        z-index: 2;
        background: url('/images/under-construction.webp');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: top right;
      }
    }

    &--confidential {
      &::after {
        @extend %full-absolute;
        content: '';
        z-index: 2;
        background: url('/images/confidential.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      & * {
        filter: blur(4rem);
      }
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &--full-width {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__context {
    @include padding(1, 1, 2);
    @extend %flex;
    @extend %full-absolute;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: none;
    background: $black1;
    background: linear-gradient(
      180deg,
      rgba($black1, 0) 0%,
      rgba($black1, 1) 50%
    );
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    transform: translate(0);
    opacity: 0;

    @include media(map-get($screen, 'tablet')) {
      @include padding(1, 2, 2);
    }
  }

  &__title {
    letter-spacing: 2px;
  }

  &__role {
    font-family: 'Marvin Visions Variable', 'Playfair Display SC', 'sans-serif';

    &::before {
      content: 'Role: ';
      font-family: 'Alef', 'sans-serif';
    }
  }

  &__links {
    @extend %align-center;
    @include margin(1, 0, 2);
    gap: 1rem;
  }

  &__link {
    @extend %justify-align-center;
    @include padding(0.5, 1);
    $parent: &;
    border-radius: 16px;
    gap: 0.5rem;
    width: 5rem;
    color: $white1;
    text-decoration: none;
    border: 1px solid $white1;
    transition: all 0.5s ease;

    &:hover {
      background-color: $white1;
      color: $black1;
    }
  }

  &__stacks {
    @extend %align-center;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    row-gap: 0.3rem;

    &-item {
      @extend %justify-align-center;
      @include padding(0.8, 2);
      // min-width: 5rem;
      font-size: 0.8rem;
      color: $black1;
      background: linear-gradient(#fff, #e8e8e8);
      clip-path: polygon(
        0 0,
        calc(100% - 0.2rem) 0,
        100% 50%,
        calc(100% - 0.2rem) 100%,
        0 100%,
        0.2rem 50%
      );
    }
  }
}
