@use '../abstracts' as *;

.skillset {
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4rem 1fr;
    grid-template-areas: 'from divider description';
    margin-bottom: 1rem;
  }

  &__from {
    grid-area: from;
    justify-self: flex-end;
  }
  &__divider {
    grid-area: divider;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: $primary;
    justify-self: center;
  }
  &__description {
    @extend %align-center;
    grid-area: description;
    gap: 1rem;
  }
}
