@use '../abstracts' as *;

html {
  @extend %normal-theme--dark;
  font-size: 0.875rem;

  @include media(map-get($screen, 'desktop')) {
    font-size: 1rem;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: none;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*:focus-visible {
  outline-color: transparent;
}
