@use '../abstracts' as *;

html {
  @extend %normal-theme--dark;
  font-size: 0.875rem;

  @include media(map-get($screen, 'desktop')) {
    font-size: 1rem;
  }
}

main {
  margin-top: calc(2rem + size(2));

  @include media(map-get($screen, 'desktop')) {
    margin-top: calc(2rem + size(4));
  }
}
