@use '../abstracts/' as *;

@use '../../public/fonts/PressStart/stylesheet.scss';
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

@font-face {
  font-family: 'Marvin Visions Variable';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf');
  display: swap;
}

html {
  font-family: 'Alef', 'sans-serif';
  font-size: 0.875rem;

  @include media(map-get($screen, 'desktop')) {
    font-size: 1rem;
  }
}

h1,
h2 {
  font-family: 'Marvin Visions Variable', 'Playfair Display SC', 'sans-serif';
}
