@use '../abstracts' as *;

.bold {
  font-family: 'Marvin Visions Variable', 'Playfair Display SC', 'sans-serif';
}

.warning {
  color: $error;
}

.info {
  color: $info;
}

.promotion-link {
  text-decoration: none;
  color: $success;

  &:hover {
    text-decoration: underline;
  }
}
