html,
body,
.pp-scrollable {
  overflow-y: auto;
  scroll-behavior: smooth;
}
.header__menu-item.active:before,
.header__menu-item.active:after {
  transform: scaleX(0);
}
.section {
  padding-top: 4rem;
}
.page {
  padding-top: 1rem;
}

.about__context p {
  transform: translateX(0);
}
