html,
body,
.pp-scrollable {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.header__menu-item.active:before,
.header__menu-item.active:after {
  transform: scaleX(0);
}

.section {
  padding-top: 4rem;
}

.menu {
  display: block;
}

.menu__container {
  top: 100vh;
}

.page {
  padding-top: 1rem;
}

.about__context {
  transform: translateX(0);
}

.about__show-dog {
  display: none;
}

.card {
  opacity: 1;
}

.card__side--front {
  display: none;
}

.card__side--back {
  transform: rotateY(0deg);
}

.skillset__from,
.skillset__name,
.skillset__divider {
  transform: translateX(0);
  opacity: 1;
}

.skills,
.projects {
  background-attachment: fixed;
  background-size: auto 100vh;
  height: 100vh;
}

/* Works on Firefox */
* {
  scrollbar-width: initial;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: initial;
}

*:focus-visible {
  outline-color: initial;
}
