@use '../abstracts' as *;

.pp-tooltip {
  color: $accent;
  text-transform: capitalize;
}

#pp-nav {
  &.left {
    left: -100px;

    @include media(map-get($screen, 'desktop')) {
      left: 17px;
    }
  }

  &.right {
    right: -100px;

    @include media(map-get($screen, 'desktop')) {
      right: 17px;
    }
  }
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: $primary;
}

.section {
  &--about {
    background-color: $black1;
  }

  &--contact {
    background-color: $black3;
  }
}
