@use '../abstracts' as *;

.pp-tooltip {
  @include padding(0.5, 1);
  border-radius: 0.5rem;
  color: $black1;
  text-transform: capitalize;
  background-color: $accent;
  font-size: 0.8rem;
}

#pp-nav {
  &.left {
    left: 0;

    @include media(screen('desktop')) {
      left: 1rem;
    }
  }

  &.right {
    right: 0;

    @include media(screen('desktop')) {
      right: 1rem;
    }
  }

  & li {
    margin-left: 0;
    margin-right: 0;
  }

  & span {
    width: 0.5rem;
    height: 0.5rem;
  }
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: $primary;
}

.section {
  height: 100vh;
  height: var(--doc-height);

  &--about {
    background-color: $black1;
  }

  &--contact {
    background-color: $black3;
  }
}
