$black1: #313131; // primary text
$black2: #616161; // header; label; placeholder
$black3: #919191; // secondary text
$black4: #c2c2c2; // disabled

$white3: #e4e4e4; // border
$white2: #ececec; // disabled
$white1: #f7f7f7; // background; placeholder

$primary: #a224cc;
$secondary: #b2ccf4;
$accent: #93edc7;
$info: #497dca;
$success: #17b58d;
$warning: #f6b760;
$error: #e24b7d;
